.footer{
    background: #2F303A;
    background-size: auto;
    padding: 60px 0;

.tablet-container{
    @media screen and(max-width:767px){
align-items: center;
    }
     @media screen and(min-width:768px){
  display:flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 60px;
     }
       @media screen and(min-width:1280px){
margin-bottom: 0px;
       }
}
   .footer__container_tablet{
        @media screen and(max-width:767px){
align-items: center;
    }
        @media screen and(min-width:768px){
 display: flex;
       flex-direction: column;
       width: 100%;
        }
      @media screen and(min-width:1280px){
           width: 1200px;
          
      }
       
   }





    .footer__container{
        
@media screen and(max-width:767px){
display: flex;
      
        flex-direction: column;

}
  
    @media screen and(min-width:768px){

    display: flex;
            align-items: baseline;
    } 
    @media screen and(min-width:1280px){
    display: flex;
    flex-direction: row;
            align-items: baseline;
    }
        .contact {
            margin-right: 70px;
        @media screen and(max-width:767px){
         margin-bottom: 60px;
         margin-right: 0px;
         width: 100%;
         text-align: center;
        }
        
        @media screen and(min-width:768px){
margin-right: 0px;
      
        } 
        @media screen and(min-width:1280px){
         margin-right: 70px;
         text-align: start;
         margin-bottom: 0px;
        }
            .logo{
                font-family: "Ralewey",sans-serif;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.2;
                text-decoration: none;
                letter-spacing: 0.03em;
               color: var(--accent-color);
                margin-right: 93px;
                display: block;
                margin-bottom: 20px;
                
        @media screen and(max-width:767px){
         text-align: center;
         width: 100%;
        }
        
        @media screen and(min-width:768px){

      
        } 
        @media screen and(min-width:1280px){
        text-align: start;
        }
            &__white{
              color: #FFFFFF;  ;
            }
        }

            .contact__item{
                margin-bottom: 9px;
            
            &:last-child{
                margin-bottom: 0px;
            }
        }
            .contact__link{
                font-style: normal;
                font-weight: normal;  
                line-height: 1.7;  
                letter-spacing: 0.03em;
                color: #FFFFFF;  
                text-decoration: none;
                transition-property:color;
                transition-duration: 250ms ;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover,
            &:focus{
                color: var(--accent-color);
            }
        }
            .contact__link_color{  
                color: rgba(255, 255, 255, 0.6);       
            }
            

        }



        .footer-block{
            margin-right: 93px;
             @media screen and(max-width:767px){
        margin-bottom: 60px;
        width: 100%;
        text-align: center;
        }
        
        @media screen and(min-width:768px){
 margin-right: 0px;
      
        } 
        @media screen and(min-width:1280px){
          margin-right: 83px;
        }
        }
        
        .footer-block__text{
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #FFFFFF;
                       @media screen and (max-width:767px) {
            text-align: center;
            }

            @media screen and (min-width: 768px) {
             text-align: center;
            }
            

            @media screen and (min-width: 1280px) {
            text-align: start;
            }
        }

        .footer-box {
            display: flex; 
            @media screen and (max-width:767pxx) {
           
            }

            @media screen and (min-width: 768px) {
            
            }
            

            @media screen and (min-width: 1280px) {
            
            }
        }

        .network{
            display: flex;
            justify-content: center;
                 @media screen and(max-width:767px){
       width: 100%;
        }
        
        @media screen and(min-width:768px){

      
        } 
        @media screen and(min-width:1280px){
       justify-content: start;
        }

            &__item{
                margin-right: 10px;
                      @media screen and(max-width:767px){
      
        }
        
        @media screen and(min-width:768px){

      
        } 
        @media screen and(min-width:1280px){
       
        }
            
            &:last-child{
                margin-right: 0px;
            }
        }

            .network__link{
                display: flex;
                align-items: center;
                justify-content: center;                 
                width: 44px;
                height: 44px;
                border-radius: 50%;              
                cursor: pointer; 
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;    
            
            &:hover,
            &:focus{
                background-color: var(--accent-color);               
            }
        }
            .network__link_style{
                fill:#FFFFFF ;
                background: rgba(255, 255, 255, 0.1);
            }
           

            &__ico{
                display: flex;  
                width: 20px;
                height: 20px;
                
            }
        }



        .application{
        display: flex;
        flex-direction: column;
             @media screen and (max-width:767px) {
   width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
            }

            @media screen and (min-width: 768px) {
            width: 100%;
  text-align: center;
  justify-content: center;
            }
            

            @media screen and (min-width: 1280px) {
            
            }

            .application__text{
                display: block;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                width: 100%;
                color: #FFFFFF;
                margin-bottom: 20px;
          @media screen and (min-width: 1280px){
              text-align: start;
          }
            }
            .application__span{
                display: flex;
                @media screen and (max-width:767px) {
   
   flex-direction: column;
   align-items: center;
            }

            @media screen and (min-width: 768px) {
            flex-direction: column;
   align-items: center;
            }
            

            @media screen and (min-width: 1280px) {
            flex-direction: row;
            align-items: flex-start;
            }
            }

            .application__input{
                height: 50px;
                width: 358px;
                border: 1px solid rgba(255, 255, 255, 0.3);
                box-sizing: border-box;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                border-radius: 4px;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.03em;
                color: rgba(255, 255, 255, 0.6);
                background: #2F303A;
                cursor: pointer;
                transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) border;
                 @media screen and(max-width:767px){
                margin-bottom: 20px;
                max-width: 450px;
                }
                
                @media screen and(min-width:768px){
margin-bottom: 20px;
            
                } 
                @media screen and(min-width:1280px){
                margin-right: 0px;
                max-width: 358px;
                }
            &:focus{
                border:1px solid var(--accent-color);
                outline: none;
            }
        }
            .application__button-submit{
                width: 200px;
                height: 50px;
                margin-left: 12px;
                background: #2196F3 ;
                border: #2196F3;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.06em;
                cursor: pointer;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ; 
            
                
            &:focus{
                background-color: #188CE8;
                border: 1px solid black;
            }
        }
            .application__icon{
                margin-left: 8px;
                display:flex;
                width: 24px;
                height: 24px;
            }
        }
    }

}




