.section__color{
    background: #F5F4FA;
z-index: 1;
}
.section__title{ 
    font-weight: 700;
   
   text-align: center;
   letter-spacing: 0.03em;
  



    @media screen and(max-width:767px){
    font-size: 28px;
    line-height: 33px;

    }
    
    @media screen and(min-width:768px){
    font-size: 28px;
    line-height: 33px;

    } 
    @media screen and(min-width:1280px){
    font-size:36px;
    line-height:1.16 ;
    }
}

.team{
    display: flex; 
z-index: 1;
  @media screen and(max-width:767px){
flex-direction: column;

}
  
@media screen and(min-width:768px){
flex-wrap: wrap;
display: flex;
    margin: -15px;
} 
@media screen and(min-width:1280px){
flex-direction: row;
}
    .team__item{
       
       @media screen and(max-width:767px){
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0px;
    }
    } 
    @media screen and(min-width:768px){
         margin: 15px;
   flex-basis:calc((100% - 2 * 30px) / 2) ;    
    } 
    @media screen and(min-width:1280px){
     margin-right: 30px;
     margin-bottom: 0px;
           margin: 15px;
   flex-basis:calc((100% - 4 * 30px) / 4) ;
   &__item:last-child{
        margin-right: 0px;
    }
    }    
    }
    
.team__img{
  
    @media screen and(max-width:767px){
    
    } 
    @media screen and(min-width:768px){
            
    } 
    @media screen and(min-width:1280px){
    width: 270px;
    }  
    }
    .team__box{
        box-shadow: var(--card-shadow);
        border-radius: 4px;
        overflow: hidden;
        background-color: #ffffff;
        padding: 30px 0;
        text-align: center;
    }
    .team__title{
        font-weight: 500;
        font-size:16px;
        line-height:1.18;
        letter-spacing: 0.03em;
    }  
    .team__profession{
        color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.18;  
        letter-spacing: 0.03em;
        margin-top: 10px;
        margin-bottom: 16px; 
    }
}

.network{
    display: flex;
    justify-content: center;

    .network__item{
        margin-right: 10px;
    }
    &__item:last-child{
        margin-right: 0px;
    }
    .network__link{
    display: flex;
    align-items: center;
    justify-content: center;        
    width: 44px;
    height: 44px;
    border-radius: 50%;       
    cursor: pointer; 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1) ;    
    }
    &__link:hover,
    &__link:focus{
    background-color: var(--accent-color);    
    }
    .network__link-style{
    background: rgba(255, 255, 255, 0.1);
    }            
                
    .network__ico{
    display: flex;  
    width: 20px;
    height: 20px;
    }
    .network__ico_style{
    fill:#AFB1B8 ;
    }
    &__link:hover svg,
    &__link:focus svg{
    fill:#FFFFFF ;
    }
}
