

.visually-hidden{
  position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;   
    height: 1px;
    margin: -1px;
}

.advantage{
    display: flex;
    @media screen and(max-width:767px){
    flex-direction: column;
    }
    
    @media screen and(min-width:768px){
    flex-direction: row;
    flex-wrap:wrap ;
    margin:-15px ; 
    } 
    @media screen and(min-width:1280px){
    flex-direction: row;
   
    }


    &:first-child{
        margin-left: 0px;
        padding-left: 0px;
    }
}
    .advantage__item{
       
     @media screen and(max-width:767px){
    margin-right: 0px;

    }
    
    @media screen and(min-width:768px){
    margin: 15px;
    flex-basis: calc((100% - 2 * 30px) / 2);
    } 
    @media screen and(min-width:1280px){
     margin: 15px;
    flex-basis: calc((100% - 4 * 30px) / 4);
    
    }
    &__item:last-child{
        margin-right: 0px;
    }
    }
    .advantage__icon-box{
        height: 120px;
        width: 270;
        background: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .advantage__icon{
        display: flex;
        width: 70px;
        height: 70px;
    }



    .advantage__title{  
        font-weight: 700;
        font-size: 14px;
        line-height:1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    @media screen and(max-width:767px){
   text-align: center;

    }
    
    @media screen and(min-width:768px){
    
    } 
    @media screen and(min-width:1280px){
   text-align: start;
    }
    &__item:last-child{
        margin-right: 0px;
    }

    }

    .advantage__text{
        color:var(--primary-text-color);
        font-size: 14px;
        line-height:1.7;
        letter-spacing: 0.03em;
       
     @media screen and(max-width:767px){
   text-align: center;
margin-bottom: 30px;
    }
    
    @media screen and(min-width:768px){
    
    } 
    @media screen and(min-width:1280px){
   text-align: start;
    width: 270px;
    margin-bottom: 0px;
    }
    }
